{% load static %}
{% include "admin_header.html" %}


   <!--::breadcrumb part start::-->
   <section class="breadcrumb blog_bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="breadcrumb_iner">
                  <div class="breadcrumb_iner_item">
                     <h2>View Category</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--::breadcrumb part start::-->

  <!-- ================ profile section start ================= -->


            <div class="m-3">
            <table class="table table-bordered">
    <thead>
    <tr>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for x in profile %}
    <tr>
        <td>{{x.title}}</td>
        <td><b><a href="{% url 'category_edit' id=x.id %}" class="btn btn-warning">Update</a></b></td>
        <td><b><a href="{% url 'view_category_delete' id=x.id %}" onclick="return confirm ('Do You Really Want To Delete')" class="btn btn-danger">Delete</a></b></td>
        </tr>
    {% endfor %}
    </tbody>

</table><br></br>


            </div>
          </div>
    </div>

   </section>
  <!-- ================ contact section end ================= -->

{% include "footer.html" %}