{% load static %}
{% include "admin_header.html" %}


   <!--::breadcrumb part start::-->
   <section class="breadcrumb blog_bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="breadcrumb_iner">
                  <div class="breadcrumb_iner_item">
                     <h2>Category Edit</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

  <!-- ================ contact section start ================= -->
  <section class="contact-section ">
    <div class="container">
      <div class="d-none d-sm-block mb-5 pb-4"></div>

      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Edit Category</h2>
        </div>
        <div class="col-lg-8">
          <form  method="post" action="{% url 'category_update' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                    <label>Title:</label>
                  <input class="form-control placeholder hide-on-focus" name="title" id="title" type="text" value="{{x.title}}" placeholder="Movie Title" readonly>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                    <label>Id:</label>
                  <input class="form-control placeholder hide-on-focus mb-3" name="id" id="id" type="number" value="{{x.id}}" placeholder="Id" readonly>

                  <button type="submit" class="button button-contactForm">Update</button>
              </div>

            </div>
          </form>
        </div>
        </div>


      </div>
  </section>
  <!-- ================ contact section end ================= -->

{% include "footer.html" %}