{% load static %}
{% include "header.html" %}


   <!--::breadcrumb part start::-->
   <section class="breadcrumb blog_bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="breadcrumb_iner">
                  <div class="breadcrumb_iner_item">
                     <h2>Customer Login</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--::breadcrumb part start::-->

  <!-- ================ customer login section start ================= -->
  <section class="contact-section ">
    <div class="container">
        <h5 style="color:green;">{{ psg }}</h5>
        <h5 style="color:red;">{{ msg }}</h5>
      <div class="d-none d-sm-block mb-5 pb-4"></div>
        <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Login</h2>
        </div>
        <div class="col-lg-8">
          <form method="post">
        {% csrf_token %}
            <div class="row">
              <div class="col-9">
                <div class="form-group">
                    <label>Email:</label>
                  <input class="form-control placeholder hide-on-focus" name="email" id="email" type="email" placeholder="Enter Email" required>
                </div>
              </div>
              <div class="col-9">
                <div class="form-group">
                    <label>Password:</label>
                  <input class="form-control placeholder hide-on-focus" name="password" id="password" type="password" placeholder="Enter Password" required>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm">Login</button>
            </div>
            <p>If your not registered?
            <a href="{% url 'customer_registered' %}" class="btn btn-outline-danger mb-3" >Register</a></p>

          </form>
        </div>
        <div class="col-lg-4">


            </div>
          </div>
        </div>

  </section>
  <!-- ================ contact section end ================= -->

{% include "footer.html" %}